:root {
  --brand-color: #2196f3;
  --text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

/*---------------------- лінк ліст */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------------------Хедер */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.header-logo {
  color: #000000;
}

.heder-container {
  display: flex;
  align-items: center;
}

/*---------------------- навігація */

.header-mail-icon,
.heder-tel-icon {
  margin-right: 10px;
}
.navigation {
  display: flex;
  align-items: baseline;
}

.navigation-list {
  display: flex;
  margin-left: 93px;
  text-align: center;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--brand-color);
}
.contact-list {
  display: flex;
  margin-left: auto;
  align-items: baseline;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.item-mail {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.item-tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.item-mail:hover,
.item-mail:focus {
  color: var(--brand-color);
}
.item-tel:hover,
.item-tel:focus {
  color: var(--brand-color);
}
.navigation-link.current {
  color: var(--brand-color);
}

/*------------------------------ ГЕРОЙ */
.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 30px;
}

.hero-btn {
  display: inline-block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;

  min-width: 216px;
  min-height: 50px;
  padding: 8px 30px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  background: var(--brand-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: rgb(8, 117, 219);
}

/*------------------------------ ПЕРЕВАГИ */
.preference-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.preference-list {
  display: flex;
  text-align: left;
  gap: 30px;
}
.preference-subtitle {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;

  margin-bottom: 10px;
}
.preference-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.preference-item {
  width: 270px;
}
/* -----------------------------ЗАЙНЯТІСТЬ */
.work-section {
  padding-bottom: 94px;
}
.work-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  margin-bottom: 50px;
}
.work-list {
  display: flex;
  gap: 30px;
}

/* ------------------------------КОМАНДА */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team {
  background: #f5f4fa;
}
.team-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}

.team-list-item {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.teammate-info {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #212121;

  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ____________________________ФУТЕР */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-link-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 20px;
}
.footer-logo {
  color: #ffffff;
}

.address-map {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 9px;
}

.address-map,
.address-tel,
.address-mail {
  text-decoration: none;
}

.address-mail {
  display: inline-block;
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-tel {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-tel:hover,
.address-tel:focus {
  color: var(--brand-color);
}
.address-mail:hover,
.address-mail:focus {
  color: var(--brand-color);
}

/* =================================== */
/* =========ПОРТФОЛІО ХТМЛ============ */
/* =================================== */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filtrs {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border-color: transparent;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--brand-color);
  padding: 6px 25px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* список 2 */
.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.p-projects-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.p-projects-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
.project-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
